<a href="https://colab.research.google.com/github/vgOneHundo/test-colab/blob/main/Sec4_One_to_Many_Many_to_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1: Create a Table

Using the built-in sqlite3 package, create SQLite database named 'esmartdata.sqlite3'.


Then create a table in this database called "esmartdata_instructor" with the following columns (column name - data type):

    id - integer
    first_name - text
    last_name - text
    description - text


Add a NOT NULL constraint to each column. Also add a primary key constraint with the AUTOINCREMENT option to the id column.


Before creating the table, use the appropriate SQL command that will delete the "esmartdata_instructor" table if such a table already exists in the database.


Commit the changes and close the database connection.

In [1]:
import sqlite3

# connect to SQLite database
conn = sqlite3.connect('esmartdata.sqlite3')
cur = conn.cursor()

In [2]:
# drop table if it already exists
drop_table_query = "DROP TABLE IF EXISTS esmartdata_instructor;"
cur.execute(drop_table_query)

# create 'esmartdata_instructor' table
create_table_query = '''CREATE TABLE esmartdata_instructor (
    id integer NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    description text NOT NULL,
    PRIMARY KEY ("id" AUTOINCREMENT)
);'''

cur.execute(create_table_query)

## Exercise 2 Create Another Table

Using the built-in sqlite3 package, SQLite database called `esmartdata.sqlite3` was prepared, which contains the `esmartdata_instructor` table.


The table `esmartdata_instructor` stores basic information about the instructors on the platform. Each instructor can have multiple courses on the platform. We will store courses in a separate table called `esmartdata_course`. Before creating this table, you should consider the type of relationship between these tables. In this case, the answer is simple, one instructor -> many courses (one-to-many).


Before creating the table, use the appropriate SQL command that will delete the `esmartdata_course` table if such a table already exists in the database.


Then, in the specified database, create a table named `esmartdata_course` with the following columns (column name - data type):

    id - integer
    title- text
    subtitle- text
    description - text
    category - text
    subcategory - text
    language - text
    length - text
    rating - real
    referral_link - text
    instructor_id - integer


Add a NOT NULL constraint to each column. Also add a primary key constraint with the AUTOINCREMENT option to the id column.


Add a foreign key constraint to the column instructor_id referring to the id column of the table `esmartdata_instructor` with the ON DELETE CASCADE ON UPDATE CASCADE options.


Commit the changes and close the database connection.

In [3]:
# drop course table if it already exists
drop_course_table_query = "DROP TABLE IF EXISTS esmartdata_course;"
cur.execute(drop_course_table_query)

# create esmartdata_course table
create_course_table_query = '''CREATE TABLE esmartdata_course (
    id integer NOT NULL,
    title text NOT NULL,
    subtitle text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    subcategory text NOT NULL,
    language text NOT NULL,
    length text NOT NULL,
    rating real NOT NULL,
    referral_link text NOT NULL,
    instructor_id integer NOT NULL,
    PRIMARY KEY ("id" AUTOINCREMENT),
    FOREIGN KEY (instructor_id) REFERENCES esmartdata_instructor(id) ON DELETE CASCADE ON UPDATE CASCADE
);'''

cur.execute(create_course_table_query)

## Exercise 3 Insert New Rows To Existing Table

Using the built-in sqlite3 package, SQLite database called `esmartdata.sqlite3` was prepared, which contains the following tables:

    "esmartdata_instructor"
    "esmartdata_course"


Insert into the "esmartdata_instructor" table two records with the following data:

    1, "Pawel", "Krakowiak", "Data Scientist/Python Developer/Securities Broker"
    2, "takeITeasy", "Academy", "Akademia Programowania"


Commit the changes and close the database connection.

In [4]:
cur.execute('''
    INSERT INTO esmartdata_instructor (first_name, last_name, description)
    VALUES
     ("Pawel", "Krakowiak", "Data Scientist/Python Developer/Securities Broker"),
     ("takeITeasy", "Academy", "Akademia Programowania");
''')

## Exercise 4 Print Your Table

Using the built-in sqlite3 package, SQLite database called `esmartdata.sqlite3` was prepared, which contains the following tables:

    "esmartdata_instructor"
    "esmartdata_course"


Create a query that will extract all records from the `esmartdata_instructor` table and print to the console as shown below.


Expected result:


    (1, 'Pawel', 'Krakowiak', 'Data Scientist/Python Developer/Securities Broker')
    (2, 'takeITeasy', 'Academy', 'Akademia Programowania')

In [5]:
# fetch data from esmartdata_instructor table
cur.execute("SELECT * FROM esmartdata_instructor;")

# fetch rows from query result and print each row
for row in cur.fetchall():
    print(row)

# commit changes and close connection
conn.commit()
conn.close()

(1, 'Pawel', 'Krakowiak', 'Data Scientist/Python Developer/Securities Broker')
(2, 'takeITeasy', 'Academy', 'Akademia Programowania')