<a href="https://colab.research.google.com/github/vgOneHundo/test-colab/blob/main/sqlite3_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Connect to a database
To connect to an SQLuite database (or to create one), you use the `connect` method.

In [1]:
import sqlite3
conn = sqlite3.connect('example.db')

## Creating a table
To create a table, you first get a cursor object and then execute an SQL statement.

In [2]:
c = conn.cursor()
c.execute('''CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real)''')
conn.commit()

OperationalError: table stocks already exists

## Inserting Data
You can insert data into tables using SQL `INSERT INTO` statements.

In [ ]:
c.execute("INSERT INTO stocks VALUES('2022-01-02', 'BUY', 'AAPL', 100, 35.14)")
conn.commit()

## Quering Data
Querying data is also done using SQL `SELECT` statements, and you can fetch data as needed.

In [ ]:
c.execute("SELECT * FROM stocks WHERE symbol = 'AAPL'")
print(c.fetchone())

## Closing the connection
Don't forget to close the database connection once you're done.

In [ ]:
conn.close()

## Parameterized Queries

To avoid SQL injection attacks, never directly interpolate or concatenate values into your SQL queries. Instead, use the parameter substitution feature available in the `sqlite3` module.

In [ ]:
# reconnect to the SQL database
conn = sqlite3.connect('example.db')
c = conn.cursor()

In [ ]:
# correct way
symbol = 'AAPL'
c.execute("SELECT * FROM stocks WHERE symbol=?", (symbol,))

## Data retrieval
The `fetchone()` method retrieves the next row in the result set returned from executing an SQL query. The `fetchall()` method retreives all remaining rows int eh resutl set.

In [ ]:
c.execute('SELECT * FROM stocks WHERE symbol=?', ('AAPL',))
print(c.fetchall())

## Transactions
The `sqlite3` module also supports transactions, allowing you to commit or rollback changes.

In [3]:
try:
    # execute some queries
    conn.commit()
except sqlite3.Error:
    conn.rollback()